<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="TVRMConnectionString" connectionString="Data Source=.\LUKSQLSERVER;AttachDbFilename='E:\Work\TVRadeMetalac\TV-Rade-Metalac\Form aplikacija\TVRM\TVRadeMetalac\TVRM_Data.mdf';Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>